 body {
     font-family: Arial, sans-serif;
     margin: 0;
     padding: 100px;
      background-color: #f0f0f0;
 }

 h2 {
     color: #e9e4e4;
     margin: 15px;
 }

 .bloco {
     background: #fff;
     height: 700px;
     padding: 20px;
     box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
     border-radius: 30px;
 }

 .form-group {
     margin-bottom: 15px;
 }

 label {
     display: block;
     font-weight: bold;
     margin-bottom: 5px;
 }

 input,select,button {
     width: 50%;
     padding: 10px;
     border: 1px solid #ccc;
     border-radius: 8px;
     margin: 20 px;
     margin-right: 10px;

 }

 button {
     background-color: rgba(22, 37, 105, 0.863);
     width: 200px;
     color: white;
     border: #0a2010f5;
     margin: 10px;
 }

 #excluir {
     background-color: rgba(163, 32, 32, 0.863);
     float: right;
 }

 #editar {
     background-color: rgba(22, 37, 105, 0.863);
     margin-left: 1000px;
 }

 button:hover {
     background: #212f80;
 }
 #adicionarconta{
     background-color: #540b99;
 }

 table {
     width: 100%;
     border-collapse: collapse;
     margin-top: 20px;
 }

 th {
    background-color: rgba(206, 18, 18, 0.863);
     width: 300px;
 }

 #voltar {
    float: right;
    margin-top: 350px;
    background-color: #0a2010f5;;

 }

 #voltar:hover {
    background-color: #d8311b;
 }