  body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 20px;
      background-color: #406449f5;
  }
  
.container {
    background-color: #f0f0f0;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.3);
    border-radius: 5px;
      max-width: 500px;
      max-height: 700px;
      padding: 20px;
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    
}
.container-principal{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

  #pessoal {
      grid-column: 1;
      grid-row: 1/2;
       gap: 5px;
       margin-left: 100px;
      
  }

  #comercial {
      grid-column: 2;
      grid-row: 1/2;
     
  }

  
  input, select{
   width: 400px;
   display: block;
   margin: 10px;
   padding: 10px;
  }
 

  button {
      cursor: pointer;
      font-weight: bold;
      width: fit-content;
      margin-top: 10px;
      padding: 10px;
      border: 1px solid #ccc;
      outline: none;
  }
  
  #catpessoal {
      background: #2196F3;
      color: white;
  }
  #catpessoal:hover {
      background: #72afe0;
      color: white;
  }

  #catcomercial {
      background: #1fa15a;
      color: white;
  }
   #catcomercial:hover {
      background: #75e4a7;
      color: white;
  }

  ul {
      margin-top: 20px;
      padding: 0;
      list-style: none;
  }

  li {
      background: #f0f0f0;
      padding: 10px;
      margin-bottom: 8px;
      border-radius: 8px;
      justify-content: space-between;
      align-items: center;
  }

   #voltar {
      background: #1fa15a;
      color: aliceblue;
      width: 100px;
      padding: 10px;
      margin-right: 120px;
      margin-bottom: 20px;
      float: right;
 }

 #voltar:hover {
    background-color: #d8311b;
 }