  body {
  font-family: Arial, sans-serif;
  background-color: #fff;
}


#header {
  padding: 18px 20px;
  border-bottom: 8px solid #f06616;
  background: linear-gradient(90deg, rgba(100,100,100,0.795), rgba(153,153,153,0.897));
  margin: 10px;
}

  .container-fluid {
      background-color: #f0f0f0;
      box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
      border-radius: 5px;
      padding: 20px;
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);

  }

  input,
  select {
      width: 400px;
      display: block;
      margin: 10px;
      padding: 10px;
  }


  button {
      cursor: pointer;
      font-weight: bold;
      width: fit-content;
      margin-top: 10px;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 10px;
      outline: none;
      bottom: 10px;
  }

  #catpessoal {
      background: #2196F3;
      color: white;
  }

  #catpessoal:hover {
      background: #72afe0;
      color: white;
  }

  #catcomercial {
      background: #1fa15a;
      color: white;
  }

  #catcomercial:hover {
      background: #75e4a7;
      color: white;
  }

  ul {
      margin-top: 20px;
      padding: 0;
      list-style: none;
  }

  li {
      background: #f0f0f0;
      padding: 10px;
      margin-bottom: 8px;
      border-radius: 8px;
      justify-content: space-between;
      align-items: center;
  }

  #voltar {
      background: #1fa15a;
      color: aliceblue;
      width: 100px;
      padding: 10px;
      margin-right: 120px;
      margin-bottom: 20px;
      float: right;
  }

  #voltar:hover {
      background-color: #d8311b;
  }